		  .tabel2{
  	width: 100%;margin-top:25px;
  }
    
    h1{
    	margin-left: 200px;    
    	font-family: font;
    }
    .thank{
    	font-size: 14px;
    }
    .push{
    	margin-left: 55px;
    	margin-top: 22px;
    }
      .jarak1{
        margin-top: 50px;
        z-index: 2;
    }
    .jarak1-regard{
    	margin-top: 65px;
    	
    }
    .jarak2{
    	margin-top: 5px;
    }
    /*Div Table*/
.tb-header{
	height: 40px;
	background-color: #F5F5F5;
	width: 645px;
	float: center;
	margin-top: 50px;
	border-bottom: 0.5px;
	font-family: cabinb;
}
table.a{
	border-collapse: collapse;
}
table.b{
	border-collapse: none;
}
td.b {
    border: 2px solid white;
}
.tb-header-desc{
	width: 305px;
	margin-top: 10px;
	color:black;
	left: 5px;
	position: relative;
}
.tb-header-tb_num{
    color:black;
    margin-top: -15px;
    width: 105px;
    left: 415px;
    position: relative;
}
.offset{
	width: 100px;
}
.td-a{
	height: 10px;
	padding: 0px;
	color:black;
	margin-top: 5px;
	margin-left: 5px;
	font-family:cabin;
	background-color: yellow;
}
.garis{
		border-bottom: solid gray;
		width: 645px;
}
.td-b{
	height: 10px;
	margin-left: 430px;
	padding: 0px;
	color:black;
	margin-top: -35px;
	background-color: yellow;
}
.tb-body{
	margin-top: -1px;
}
.td-tottb_num{
	background-color: #FFCA00;
	height: 30px;
	width: 645px;
	color:black;
	border-color: black;
	border-bottom:solid;
	border-top:1px;
	margin-top: 1px;
	vertical-align: middle;
	margin-left: 2px;
}
.td-tb_num{
	height: 10px;
	width: 30px;
	margin-left: 350px;
	vertical-align: middle;

}
.bullet{
	background-image: url(<?php echo base_url();?>assets/bullet.png);
	height: 20px;
	width: 12px;
	background-size: 1%;
	background-repeat: no-repeat;
	margin:0px; 
	padding: 0px;
}
.markk{
	background-image: url(<?php echo base_url(); ?>assets/bullet.png);
	background-size: 10px 10px;
	width: 10px;
  	height: 10px;
  	background-repeat: no-repeat;
}
/*ul{
    list-style-type: disc;
    margin-bottom: 0px;
    padding-left: -15px;
    margin-right: 0;
    color:black;
}*/
ul {
     list-style-type: disc;
     padding-left: -15px;

}
.ttd{
	background-image:url(<?php echo base_url();?>assets/ttdd.png);
	height:60px;
	background-repeat: no-repeat;
	margin-left: -15px;
	width: 120px;
	background-size :30px 30px;
	margin-top: -50px;
}
.ttd-logo{
	background-image:url(<?php echo base_url();?>assets/logo33.png);
	height:75px;
	background-repeat: no-repeat;
	margin-left: -15px;
	width: 100px;
	background-size :30px 30px;
	position: fixed;
	z-index: -1;
	bottom: -480px;
	opacity: 0.0;

}
li{
	color: #FFCA00;
}
.style1{
	background-image: url(<?php echo base_url();?>assets/line.png);
	border-top: 0.1px solid #7f7f7f;
	bottom:-400px;
	opacity: 0.1;
	height: 5px;
	width: 610px;
	position: fixed;
}
.year{
	font-size:13px;
	color:rgb(127,127,127) #7f7f7f;
	font-family:cabin;
}
.sertificate{
	font-family:font;
	font-size:130px;
	margin-top:-10px;
	margin-left:53px;
}
.desc{
	height: 37px;
	width:470px;
	border-bottom:thin solid #7f7f7f;
	color:black;
	font-family:cabinb;
	padding-left:10px;
}
.tb_num{
	height: 37px;
	width:150px;
	border-bottom:thin solid #7f7f7f;
	color:black;
	font-family:cabinb;
}
.name{
	height: 0px;
	width:250px;
	border-bottom:thin solid #7f7f7f;
	color:#7f7f7f;
}
.nameval{
	height: 0px;
	text-align:text-top;
	border-bottom:thin solid;
	color:#7f7f7f;
}
.price{
	height: 0px;
	border-bottom:thin solid #7f7f7f;
	color:#7f7f7f;
	font-family:cabin;
}
.tottb_num{
	height: 35px;
	width:250px;
	border-bottom:thick solid;
	color:black;
	font-weight:bold;
	font-family:cabin;
}
.count{
	height: 20px;
	width:60px
	;border-bottom:thick solid;
	font-family:cabin;
	color:black;
	font-weight:bold;
}
.descval{
	height: 37px;
	background-color:#F5F5F5;
}